/* main iteams */
.head{
    color: #1c1c50;
    font-weight: bolder;
    text-shadow: 2px 2px 4px ;
}
#para{
    color:black;
    font-size: 15px;
}
#button{
    background-color: gainsboro;
    width: 100px;
    height: 40px;
    border: 3px solid #1c1c50;
    color: #1c1c50;
    font-size: 15px;
    text-decoration: none;
}
#button:hover{
    background-color: #1c1c50;
    border: 3px solid gainsboro;
    color: gainsboro;
}
.title{
    font-size: 30px;
    color: #1c1c50;
    font-weight: bolder;
    text-shadow: 2px 2px 4px ;
}
#first-session{
    background-color:#f9f8f2;
}
#third-session{
    background-color:#fff;
}
.h3{
    color:#1c1c50;
}

/* body */
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #f9f8f2;
}
/* nav bar */
#nav-bar{
    padding: 10px ;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0);
    background: #1c1c50;
}
#navbarNav .nav-link{
    color: white;
    font-size: 20px;
    font-weight: lighter;
    margin: 5px;  
}
#navbarNav .nav-link:hover{
    color: #80cc28;
}
.navbar-toggler{
    background-color: #fff;
}
.navbar-collapse{
    text-align: center;
}

/* index second part*/
#second-session .icon{
    color:#1c1c50;
    text-align: center;
}
/*
.col-md-4{
    height:150px ;
}
/*
#box1{

    background-color: #51ade5;
}
#box2{

    background-color: #80cc28;
}
/* contact 
#box{
    background-color: #51ade5;
    /*box-shadow: inset  2px 2px 10px ;
}
/*
/* reviews */
#card{
    background-color: #fff;
    border-radius: 25px 0px;
    border:3px solid #1c1c50;
}
/* services */
#notcard{
    border: none;
    background-color: transparent;
    text-align: center;
}
#service{
    background: url(../assects/images/thought1.jpg) no-repeat;
    background-size: cover;
}
/* contact form */
.form-label{
    color: #1c1c50;
    font-size: 20px;
}
/* footer */ 
#footer{
    background-color: #1c1c50;
    color: #fff;
    padding-top: 20px
}

/* thought*/
/*#thought{
    background: url(../assects/images/testimonial-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 20vh;
}
*/
/* scroll top */
#back-to-up{
    background-color: #f9f8f2;
    border: 2px solid black;
}
#back-to-up:hover{
    background-color:  #51ade5;
    border: 2px solid #80cc28;
}